.idea
thrift.*

build
cmake-build-*

ecospy/dist
ecospy/binaries

*.egg-info

/**/gunnerus/**/*.ssp
/**/gunnerus/**/models

/**/results/**/*.csv

/**/examples/**/logs

/**/quarter_truck/quarter_truck_sspgen.ssp

LicenseError.txt


